GameStore.Api/GameStore.Api/bin/Debug/net10.0/GameStore.Api.dll
GameStore.Api/GameStore.Api/bin/Debug/net10.0/GameStore.Api.exe
GameStore.Api/GameStore.Api/bin/Debug/net10.0/GameStore.Api.pdb
GameStore.Api/GameStore.Api/obj/GameStore.Api.csproj.nuget.dgspec.json
GameStore.Api/GameStore.Api/obj/GameStore.Api.csproj.nuget.g.props
GameStore.Api/GameStore.Api/obj/project.assets.json
GameStore.Api/GameStore.Api/obj/project.nuget.cache
GameStore.Api/GameStore.Api/obj/Debug/net10.0/apphost.exe
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.AssemblyInfo.cs
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.AssemblyInfoInputs.cache
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.assets.cache
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.csproj.AssemblyReference.cache
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.csproj.CoreCompileInputs.cache
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.csproj.FileListAbsolute.txt
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.dll
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.GeneratedMSBuildEditorConfig.editorconfig
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.genruntimeconfig.cache
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.pdb
GameStore.Api/GameStore.Api/obj/Debug/net10.0/GameStore.Api.sourcelink.json
GameStore.Api/GameStore.Api/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
GameStore.Api/GameStore.Api/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
GameStore.Api/GameStore.Api/obj/Debug/net10.0/rpswa.dswa.cache.json
GameStore.Api/GameStore.Api/obj/Debug/net10.0/ref/GameStore.Api.dll
GameStore.Api/GameStore.Api/obj/Debug/net10.0/refint/GameStore.Api.dll
